<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_ThiTNTHConnectionString"
            connectionString="Data Source=LAPTOP-UKDQP37H\SQLEXPRESS;Initial Catalog=QL_ThiTNTH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>